#pragma once

#define WIFI_SSID "YourWiFiName"
#define WIFI_PASS "YourWiFiPassword"

#define BLYNK_TEMPLATE_ID "TMPLxxxxxx"
#define BLYNK_TEMPLATE_NAME "EspFire"
#define BLYNK_AUTH_TOKEN "YourBlynkAuthToken"
